
<ul class="nav nav-tabs flex-column bg-white fs-27 shadow" id="navBar">
  <li class="nav-item">
    <div class="nav-link d-flex border-0 rounded-0 align-items-center" data-bs-toggle="tooltip" data-bs-placement="right" title="我是一隻袋鼠，我帶你去騎車"><img src="images/nav_logo.svg" alt="a kangaroo logo" data-toggle="toggleCover"/>
      <h1 class="visually-hidden">袋你去騎車 Bag YouBike</h1>
    </div>
  </li>
  <li class="nav-item"><a class="nav-link d-flex border-0 hover-bg-primary rounded-0" id="stationInfo" href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="單車租借"><i class="bi bi-geo-alt m-auto"></i></a></li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="點擊查詢指定站點"><a class="nav-link d-flex border-0 hover-bg-primary rounded-0" id="stationLocation" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForSearch" aria-controls="offcanvasScrolling"><i class="bi bi-search m-auto"></i></a></li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="自行車道路查詢"><a class="nav-link d-flex border-0 hover-bg-primary rounded-0" id="bikeRouteSearch" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForRoute" aria-controls="offcanvasScrolling"><i class="fas fa-biking m-auto"></i></a></li>
  <li class="nav-item mt-auto" data-bs-toggle="tooltip" data-bs-placement="right" title="相關資訊"><a class="nav-link d-flex border-0 hover-bg-primary rounded-0" id="websiteInfo" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForInfo" aria-controls="offcanvasScrolling"><i class="bi bi-info-circle m-auto"></i></a></li>
</ul>