
<head> 
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Design by Yuco, build by Karl Yang, ccok12345678@hotmail.com."/>
  <meta name="description" content="The F2E 3rd前端修練精神時光屋作品，自行車道地圖資訊整合網。資料來源:TDX, https://tdx.transportdata.tw/"/>
  <meta name="keywords" content="Taiwan, bike, bicycle, map, 臺灣, 台灣, 腳踏車, 自行車, 運動, 假日行程"/>
  <meta property="og:image" content="images/og_icon.png"/>
  <meta property="og:description" content="來自前端修練精神時光屋The F2E 3rd，臺灣觀光旅遊景點導覽。"/>
  <meta property="og:title" content="袋你去騎車 Bag YouBike"/>
  <meta name="twitter:title" content="袋你去騎車 Bag YouBike"/>
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
  <title>袋你去騎車 Bag YouBike</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <link rel="stylesheet" href="stylesheets/all.css"/>
</head>