.appMap {
  position: relative;
  z-index: 0;
}

.nav {
  z-index: 10;
  &-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  &-link {
    width: 76px;
    height: 76px;
  
    &:focus {
      background: $primary;
    }
  }

}


.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
}

.leaflet-popup {

  &-tip {
    display: none;
  }

  &-content {
    margin: 0;

    a {
      padding: 15px;
      margin: -15px;
    }
    
    &-wrapper {
      text-align: center;
      background: none;
      box-shadow: none;
      border: none;
      padding: 0;
      font-size: 20px;
      font-weight: 900;
      font-style: italic;
      outline: none;
    
    }
  }
}

.btn-group {
  position: absolute;
  top: 36px;
  left: 46%;
}

.card-container {
  position: absolute;
  top: 92px;
  right: 8%;
  max-width: 328px;
}

.offcanvas {
  margin-left: 76px;
  width: 321px;
}

.list-group-item {
  min-height: 97px;
}