.hover-bg {

  &-primary:hover {
    background: $primary;
  }
  &-light:hover {
    background: $light;
  }
}

.bd-filter {
  backdrop-filter: blur(8px);
}

.ls-145 {
  letter-spacing: .145em;
}

.hover-noLine {

  &:hover {
    text-decoration: none;
  }
}