aside#offcanvasForInfo.offcanvas.offcanvas-start(data-bs-scroll='true' data-bs-backdrop='true' tabindex='1' aria-labelledby='offcanvasScrollingLabel')
  .offcanvas-body.p-0.overflow-auto
    #questionContainer.list-group.rounded-0.border-0
      .list-group-item.list-group-item-action.p-3.border-0.border-bottom(href='#')
        h5.fs-15.fw-700.mb-2 常見問題
        p.mb-2.text-info.fs-12 更新日期：2021/11/13
      a.informationItem.list-group-item.list-group-item-action.p-3.border-0.border-bottom(href='#')
        h5.fs-15.fw-700.mb-2 問題類型第一層 - 常見問題集合
        p.mb-2.fs-12 我該如何使用？
        p.mb-2.fs-12 如何找到離我最近的站點？
        p.mb-2.fs-12 我該如何使用？
      a.informationItem.list-group-item.list-group-item-action.p-3.border-0.border-bottom(href='#')
        h5.fs-15.fw-700.mb-2 問題類型第一層 - 常見問題集合
        p.mb-2.fs-12 我該如何使用？
        p.mb-2.fs-12 如何找到離我最近的站點？
        p.mb-2.fs-12 我該如何使用？
      a.informationItem.list-group-item.list-group-item-action.p-3.border-0.border-bottom(href='#')
        h5.fs-15.fw-700.mb-2 問題類型第一層 - 常見問題集合
        p.mb-2.fs-12 我該如何使用？
        p.mb-2.fs-12 如何找到離我最近的站點？
        p.mb-2.fs-12 我該如何使用？
#slideForAnswer.slideAnswerContainer.vh-100.bg-white.hideAnswer
  .p-3
    h5.fs-15.fw-700.pt-3.my-1 遇到問題我該找誰？這是第二層
    p.fs-14.fw-500.pb-1  您可以透過以下方式聯繫到我們
    p.fs-14.mt-5
      i.bi.bi-telephone 
      strong.ms-3.me-2.pe-1 電話
      a.ls-145.fw-500.hover-noLine(href="tel:07-234-5678") 07-234-5678
      br
      small.mt-2 為了讓每一位騎乘者的問題得以解決，24小時皆有人員替您服務。
    p.fs-14.pb-1.mt-5
      i.bi.bi-envelope
      strong.ms-3.me-2.pe-1 信箱
      a.ls-145.fw-500.hover-noLine(href="email:service@kuokka.net") service@kuokka.net
      br
      small.mt-2 我們會於收到信件後的24小時回覆您
    h5.fs-15.fw-700.mt-5.pt-1 我到了該站點，站點卻是暫停使用的狀態時，我該怎麼辦？
    p.mt-1
      small 請您來電 07-234-5678 將有專人協助您查詢離您最近的站點。
