include ../mixins/citiesOptions.pug

aside#offcanvasForSearch.offcanvas.offcanvas-start(data-bs-scroll='true' data-bs-backdrop='false' tabindex='1' aria-labelledby='offcanvasScrollingLabel')
  .offcanvas-header.p-3.pb-4.border-bottom
    form#searchForm.w-100.d-flex.flex-row
      label.visually-hidden(for="searchKeyword") 搜尋公用腳踏車站點 
      input#searchKeyword.form-control.mt-4.ps-4.py-3.lh-1(type="text" placeholder="搜尋站點關鍵字" name="searchKeyword")
      select#citySelector.form-select.mt-4.mb-3p-3.ms-1.w-45
        option(value="" selected disable="true") 區域
        each item in selection.counties
          +citiesOptions(item.zh, item.en)
      button#searchStationBtn.visually-hidden(type="submit") 搜尋
  .offcanvas-body.p-0.overflow-auto
    #searchResultContainer.list-group.rounded-0.border-0
  