section#cardContainer.card-container
  //- .card.shadow.pt-3.px-4.pb-4.visually-hidden
  //-   .card-body.p-0.fs-12.text-primary
  //-     small.d-flex.align-items-center
  //-       img.me-2(src="images/dot_blue.png", width="9" alt="正常營運")
  //-       | 正常營運
  //-     small.d-flex.align-items-center.visually-hidden
  //-       img.me-2(src="images/dot_red.png", width="9" alt="停止營運")
  //-       | 停止營運
  //-     small.d-flex.align-items-center.visually-hidden
  //-       img.me-2(src="images/dot_yellow.png", width="9" alt="暫停營運")
  //-       | 暫停營運
  //-     h5.card-title.fw-700.fs-20.mb-1 iBike1.0_逢甲大學
  //-     h6.card-subtitle.mb-2.text-info.mb-3.pb-1 iBi ke1. 0_Feng Chia University
  //-     p.card-text.mb-0
  //-       | 台中市福星路/逢甲路口(潮洋機車停車場)
  //-     p.card-text.text-info.mb-3.pb-1
  //-       | Fuxing Rd & Fengjia Rd Intersection
  //-     p.card-text
  //-       |  更新時間：2021-11-10 22:51:37
  //-     #forRentBtn.row.mx-0
  //-       .col.bg-secondary.text-center.me-4.rounded.p-3
  //-         h6.fw-700.fs-19.mb-2.mx-2 可借車輛
  //-         p.fw-700.fs-36.m-0 29
  //-       .col.bg-primary.text-white.text-center.rounded.p-3
  //-         h6.fw-700.fs-19.mb-2.mx-2 可停車位
  //-         p.fw-700.fs-36.m-0 5
  //-     #forReturnBtn.row.mx-0.visually-hidden
  //-       .col.bg-primary.text-white.text-center.me-4.rounded.p-3
  //-         h6.fw-700.fs-19.mb-2.mx-2 可借車輛
  //-         p.fw-700.fs-36.m-0 29
  //-       .col.bg-secondary.text-center.rounded.p-3
  //-         h6.fw-700.fs-19.mb-2.mx-2 可停車位
  //-         p.fw-700.fs-36.m-0 5