ul#navBar.nav.nav-tabs.flex-column.bg-white.fs-27.shadow
  li.nav-item()
    .nav-link.d-flex.border-0.rounded-0.align-items-center(data-bs-toggle="tooltip" data-bs-placement="right" title="我是一隻袋鼠，我帶你去騎車")
      img(src="images/nav_logo.svg", alt="a kangaroo logo" data-toggle="toggleCover")
      h1.visually-hidden 袋你去騎車 Bag YouBike
  li.nav-item
    a#stationInfo.nav-link.d-flex.border-0.hover-bg-primary.rounded-0(href='#' data-bs-toggle="tooltip" data-bs-placement="right" title="單車租借")
      i.bi.bi-geo-alt.m-auto()
  li.nav-item(data-bs-toggle="tooltip" data-bs-placement="right" title="點擊查詢指定站點")
    a#stationLocation.nav-link.d-flex.border-0.hover-bg-primary.rounded-0(href='#'  data-bs-toggle="offcanvas" data-bs-target="#offcanvasForSearch" aria-controls="offcanvasScrolling")
      i.bi.bi-search.m-auto
  li.nav-item(data-bs-toggle="tooltip" data-bs-placement="right" title="自行車道路查詢")
    a#bikeRouteSearch.nav-link.d-flex.border-0.hover-bg-primary.rounded-0(href='#'  data-bs-toggle="offcanvas" data-bs-target="#offcanvasForRoute" aria-controls="offcanvasScrolling")
      i.fas.fa-biking.m-auto
  li.nav-item.mt-auto(data-bs-toggle="tooltip" data-bs-placement="right" title="相關資訊")
    a#websiteInfo.nav-link.d-flex.border-0.hover-bg-primary.rounded-0(href='#' data-bs-toggle="offcanvas" data-bs-target="#offcanvasForInfo" aria-controls="offcanvasScrolling")
      i.bi.bi-info-circle.m-auto()