#btnGroup-bike.btn-group.visually-hidden(role='group' aria-label='Basic example')
  button#btn-rentBike.btn.btn-secondary.text-primary.fw-600.px-3.py-2(type='button') 租車
  button#btn-returnBike.btn.btn-primary.fw-600.px-3.py-2(type='button') 還車